body {
  background-color: aquamarine;
}

.flex {
  background-color: aqua;
  gap: 2rem;
  margin: 3rem;
}

.form-control {
  m: 3;
  width: 25%;
  px: auto;
  background: white;
  border: solid black;
}
